textarea {
  width: 200px;
  resize: none;
  height: 17px;
  outline: none;
  padding-top: 2px;
  padding-left: 2px;
  border: 1px solid black;
}
table {
  width: 400px;
  border: 1px solid black;
  background-color: gray;
  border-bottom: none;
}
#horiz-settings {
  width: 404px;
  border: 1px solid black;
  background-color: gray;
  border-top: none;
  text-align: right;
  padding: 5px;
  padding-top: 0px;
}
*{padding:0px;margin:0px;}
.in {
  height: 20px;
}
.out {
  height: 20px;
}
#newButton {
  width: 18px;
  background: lightgray;
  outline: none;
  border: 1px solid black;
  height: 18px;
}
::-webkit-scrollbar {
  width: 0px;
}
